@media (width< 992px) {

    .d-block {
       display: unset!important;       
    }

    .nav-link
    {
       
  display:inline-flex;
  align-items:center;
  justify-content:center;
    }
    svg
    {
        padding-right: 5px;
    }
  }