@media (width< 992px) {

    .d-block {
       display: unset!important;       
    }

    .nav-link
    {
       
  display:inline-flex;
  align-items:center;
  justify-content:center;
    }
    svg
    {
        padding-right: 5px;
    }
  }

  .bd-example .row .col-md-6 .form-label{
    padding-top: 25px;
  }

  .js-plotly-plot .plotly, .js-plotly-plot .plotly div
  {
    margin: auto;
  }
